/* Main.css */
.main-container {
    display: flex;
    flex-direction: column;
    /* Center content horizontally */
    padding: 10px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    flex-grow: 1; /*  Allow the Main component to grow and occupy remaining space */
    /* Add additional styles as needed */
    background-color: rgb(236, 226, 226);
    max-width: 100%;
    max-height: 100%;
}