### IntelliJ IDEA ###
.idea/
.vscode/
*.iml
*.ipr
*.iws

### build artifacts and compiled output ###
target/
build/
dist/
*.class

### dependencies directory ###
node_modules/
vendor/

# Compiled Java class files
*.class

# Java dependencies
lib/
*.jar
*.war
*.ear

# Ignore properties file
application.properties
backend/app/build


### Log files and temporary files ###
*.log
*.tmp

### Configuration files with sensitive information ###
config.ini
.env

### Operating system-specific files ###
.DS_Store
Thumbs.db


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*